<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fin de la actividad</title>
    <link rel="icon" href="/static/img/iconos/9.png" type="image/png">
    <link rel="stylesheet" href="/static/styles/concluir.css">
</head>
<body>
    <div class="container">
        <h1>¡Felicidades, concluiste la actividad!</h1>
        <p>Respuestas correctas: {{bien}}</p>
        <p>Respuestas incorrectas: {{mal}}</p>
        <button onclick="window.location.href='/alumno'">
            <img src="/static/img/concluir/salir.png" alt="Salir">
        </button>
    </div>
</body>
</html>
