<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/crearCuenta.css" type="text/css">
    <title>Recuperar contraseña</title>
</head>
<body>
    <div class="crearCuenta">
        <div class="texto">
            <h1>¡Gracias!, hemos enviado un enlace para restablecer tu contraseña a tu correo</h1> 
        </div>
        
        <div class="campos">

            <img src="/img/recuperarContraseña/img.png" alt="">
        </div>

        <div class="links">
            <a href="/pages/inicioSesion.html">Regresar a la pagina principal</a>
        </div>
    </div>
</body>
</html>