<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/contraseñaRecuperada.css" type="text/css">
    <title>Recuperar contraseña</title>
</head>
<body>
    <div class="crearCuenta">
        <div class="texto">
            <h1>¡Gracias!, hemos enviado un código para restablecer su contraseña</h1> 
        </div>

        <img src="/static/img/principal/contacto.png" alt="">
        
        <form action="/verificar_codigo" method="post">
            <label for="codigo">Ingrese el código de 5 caracteres:</label><br>
            <input type="text" id="codigo" name="codigo" 
                   placeholder="ABCDE" 
                   maxlength="5" 
                   pattern="[A-Za-z0-9]{5}" 
                   required>
            <br>
            <button type="submit">Válidar</button>
        </form>
        
        {% if mensaje_error %}
            <p style="color: red;">{{ mensaje_error }}</p>
        {% endif %}

        <div class="links">
            <a href="{{ url_for('index') }}">Regresar a la página principal</a>

        </div>
    </div>
</body>
</html>