<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Ejercicios</title>
</head>
<body>
    
    <label>
        Ejercicios personalizados
    </label>
    
    <br><br>
    <a href="/crudEjercicios?correo={{correo_docente}}" >
        Agregar
    </a>

    <div>
        <p>Ejercicios del docente</p>

        <table border="1">
            <thead>
                <tr>
                    <th>Titulo</th>
                    <th>Actualizar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                {% for ejercicio in titulos %}
                <tr>
                    <td>{{ejercicio[0]}}</td>
                    <td>
                        <a href="/actualizarEjercicioPagina?id={{ejercicio[1]}}">
                            <button>Actualizar</button>
                        </a>
                    </td>
                    <td>
                        <a href="/eliminarEjercicio?id={{ejercicio[1]}}">
                            <button>Eliminar</button>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>