<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/actividades.css') }}">
  <link rel="icon" href="/static/img/iconos/5.png" type="image/png">
  <title>Ejercicio Números</title>
</head>
<body>
  <div class="contenedor">
    <h1>Repite el siguiente número:</h1>
    <p id="numero">1</p>
    
    <div class="opciones">
      <!-- Botón 1 (Regresar) -->
      <button onclick="window.history.back()" class="btn-salir">
        <img class="boto" src="/static/img/actividades/salir.png" alt="Salir">
      </button>
      <!-- Botón 2 (Micrófono) -->
      <button onclick="iniciarReconocimiento()" class="btn-micro">
        <img class="boton" src="/static/img/actividades/microfono.png" alt="Micrófono">
      </button>
      <!-- Botón 3 (Recargar/Audio) -->
      <button onclick="reproducirAudio()" class="btn-reload">
        <img class="boton" src="/static/img/actividades/recargar.png" alt="Recargar">
      </button>
    </div>
  </div>

  <script src="{{ url_for('static', filename='js/reconocerNumeros.js') }}"></script>
  <script src="{{ url_for('static', filename='js/audioNumeros.js') }}"></script>
  <script src="{{ url_for('static', filename='js/numeros.js') }}"></script>
</body>
</html>
