<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/progreso.css" type="text/css">
    <title>Progreso Alumno</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <button class="regresar" onclick="window.history.back();">←</button>

    <div class="todo">
        <div class="contenido">
            <h1>Progreso</h1>
            <p>Visualiza el progreso en las actividades realizadas por el alumno. Aquí puedes ver los aciertos y errores que han tenido.</p>
        
            <div class="graficas">
                <!-- Actividad Letras -->
                <div class="letras">
                    <h2>Actividad 1 - Letras</h2>
                    <canvas id="graficoLetras" class="graficoLetras"></canvas>
        
                    <script>
                        var aciertosLetras = {{ alumno.AciertosLetras }};
                        var erroresLetras = {{ 10 - alumno.AciertosLetras }};
                    </script>
        
                    <p>Aciertos: {{ alumno.AciertosLetras }}</p>
                    <p>Errores: {{ 10 - alumno.AciertosLetras }}</p>
                </div>
        
                <!-- Actividad Números -->
                <div class="numeros">
                    <h2>Actividad 2 - Números</h2>
                    <canvas id="graficoNumeros" class="graficoNumeros"></canvas>
        
                    <script>
                        var aciertosNumeros = {{ alumno.AciertosNumeros }};
                        var erroresNumeros = {{ 10 - alumno.AciertosNumeros }};
                    </script>
        
                    <p>Aciertos: {{ alumno.AciertosNumeros }}</p>
                    <p>Errores: {{ 10 - alumno.AciertosNumeros }}</p>
                </div>
            </div>
            </div>
    </div>

    <!-- Cargar el script después de definir las variables -->
    <script src="/static/js/grafica.js"></script>
</body>
</html>
