<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/principal.css" type="text/css">

    <title>Menú principal</title>
</head>
<body>

    <!--  Menú horizontal superior -->
    <header>
        <nav>
            <ul>
                <li><a class="ini" href="#inicio">INICIO</a></li>
                <li><a class="pre" href="#preguntas">PREGUNTAS FRECUENTES</a></li>
                <li><a class="con" href="#contacto">CONTACTANOS</a></li>
                <li class="btn"><a href="{{url_for('sesion')}}">INICIAR SESION</a></li>
            </ul>
        </nav>
    </header>

    <!-- Para el texto de inicio y la imagen -->
     <div id="inicio" class="inicio">
        <div class="textoPrincipal">
            <h1>Prototipo de aplicación web empleando speech recognition</h1>
            <p>Un prototipo de aplicación web interactiva que les permite a los más pequeños a descubrir el mundo de las letras y los números con su voz</p> 
        </div>

        <img src="/static/img/principal/menu.png" alt="">
     </div>

     <!-- Para las preguntas frecuentes -->
     <div id="preguntas" class="preguntas">
        <img src="/static/img/principal/preguntas.png" alt="">

        <div class="textoPreguntas">
            <h1>Preguntas Frecuentes</h1>
            <nav class="preguntas">
                <ul>
                    <li><a href="#" class="titulo">¿Cómo funciona el prototipo de aplicación web?</a>
                        <ul>
                            <li><a href="#" class="cont">Utiliza tecnología avanzada para captar y procesar la voz de los niños,permitiendo que los niños practiquen la pronunciación y el reconocimiento de letras y números de manera interactiva.</a></li>
                        </ul>
                    </li>

                    <li><a href="#" class="titulo">¿Qué edades son adecuadas para usar el prototipo?</a>
                        <ul>
                            <li><a href="#" class="cont">Respuesta2</a></li>
                        </ul>
                    </li>

                    <li><a href="#" class="titulo">¿Cómo puedo crear una cuenta como docente?</a>
                        <ul>
                            <li><a href="#" class="cont">Respuesta3</a></li>
                        </ul>
                    </li>

                    <li><a href="#" class="titulo">¿Cómo puedo visualizar el progreso de mi hijo?</a>
                        <ul>
                            <li><a href="#" class="cont">Respuesta4</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
     </div>

     <!-- Para contactarnos -->
     <div id="contacto" class="contacto">
        <div class="textoContacto">
            <h1>Contáctanos Ya!</h1>
    
            <form action="contacto" method="POST">
                <input type="text" id="nombre" name="nombre" placeholder="Escribe tu nombre" required> <br>
                <br>
                <input type="email" id="email" name="email" placeholder="Escribe tu correo" required> <br>
                <br>
                <input type="text" id="telefono" name="telefono" placeholder="Escribe tu número" required> <br>
                <br>
                <textarea name="mensaje" rows="5" placeholder="Escribe tu mensaje" required></textarea> <br> <br>
    
                <button type="submit">Enviar</button>
            </form>
    
        </div>
    
        <img src="/static/img/principal/contacto.png" alt="">
    </div>
    

</body>
</html>