{% if alumno.IdGrupo %}
    <header>
        <form action="{{ url_for('cerrar_sesion') }}" method="POST">
            <button type="submit" class="btn-cerrar-sesion">Cerrar sesión</button>
        </form>
    </header>

    <!-- Si el alumno tiene un grupo -->
    <div class="contenedor">
        <div class="opAlumnos">
            {{ alumno.Nombre}}
            <br>
            <img class="user-img" src="{{ alumno.Foto }}" alt="">
            <div class="buttons">
                <div class="button">
                    <form action="{{ url_for('progresoAlumno') }}" method="GET">
                        <button type="submit">Ver progreso</button>
                    </form>
                </div>
                <br>
                <div class="button">
                    <form action="{{ url_for('confAlumno') }}" method="GET">
                        <button type="submit">Configuración</button>
                    </form>
                </div>
                <br>
                <form action="{{ url_for('salir_grupo') }}" method="POST">
                    <div class="button">
                        <button type="submit">Salir del grupo</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="ejercicios">
            Bienvenido
            <br>

            <div class="actividades">
                <button onclick="window.location.href='/ejercicioLetras'">
                    <img class="nubes" src="/static/img/alumnos/nube.png" alt="">
                </button>
                <br>
                <button onclick="window.location.href='/ejercicioNumeros'">
                    <img class="nubes" src="/static/img/alumnos/nube.png" alt="">
                </button>
            </div>
        </div>
    </div>
{% else %}
    <!-- Si el alumno no tiene un grupo -->
    <div class="form-container">
        <h2 class="bg-primary text-white p-2 rounded">Bienvenido, {{ alumno.Nombre }}
        {{ alumno.Apellido }}
        </h2>
        <img src="{{ alumno.Foto }}" class="profile-img" alt="Imagen del alumno">
        <p>Ingrese el código de la clase proporcionado por el docente</p>

        {% if request.args.get('error') %}
    <script>
        alert("{{ request.args.get('error') }}");
    </script>
{% endif %}

        <form id="joinGroupForm" method="POST" action="{{ url_for('unirse_grupo') }}">
            <label for="codigo">Código del Grupo:</label>
            <input type="text" id="codigo" name="codigo" required>
            <button type="submit">Aceptar</button>
            <button type="button" class="btn btn-salir" onclick="window.location.href='/inicioSesion'">Salir</button>
        </form>
    </div>
{% endif %}
