body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.btn-cerrar-sesion {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}

.btn-cerrar-sesion:hover {
    background-color: #cc0000;
}

.contenedor {
    margin: 30px;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    width: 700px;
    height: 450px;
    background-color: rgb(30, 182, 182);
    box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

/*Para el div de la foto y el menú de botones*/
.opAlumnos{
    font-size: 25px;
    color: white;
    background-color: transparent;
    text-align: center;
    padding: 10px 30px;
}

/*Para el div de las actividades*/
.ejercicios{
    width: 350px;
    font-size: 25px;
    color: white;
    background-color: transparent;
    text-align: center;
    padding: 10px 30px;
}

.user-img , .profile-img{
    width: 150px; 
    height: 150px;
    border-radius: 50%;
    object-fit: cover; /* Asegura que la imagen se recorte correctamente */
    margin-top: 10px; /* Agrega espacio superior si es necesario */
}

.nubes {
    width: 270px;
    height: 160px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.nubes img{
    width: 270px;
    height: 160px;
}

.buttons {
    justify-content: space-around;
    width: 100%;
    margin: 20px 0;
    background-color: transparent;
}

.progreso, .conf, .salir{
    background-color: #e98a1d;
    border: none;
    color: white;
    font-size: 20px;
    width: 190px;
    font-weight: bold;
    border-radius: 10px;
    height: 30px;
}

.progreso:hover{
    background-color: #975509;
}

.conf:hover{
    background-color: #975509;
}

.salir:hover{
    background-color: #975509;
}

.button a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/*Por si no tiene un grupo*/
.form-container{
    background-color: #fffcf9;
    text-align: center;
    height: 450px;
    width: 550px;
    border-radius: 10px;
    box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.bienvenido{
    background-color: rgb(34, 175, 175);
    padding: 10px 20px;
    color: white;
}

.txt{
    font-size: 20px;
}

.codigoCampo{
    margin: 10px;
    border-radius: 7px;
    width: 100px;
    height: 30px;
    font-size: 15px;
    border-color: #d8d2d2;
}

.aceptar{
    margin-right: 50px;
    margin-top: 15px;
    height: 35px;
    width: 100px;
    font-size: 20px;
    border-radius: 8px;
    background-color: rgb(82, 167, 224);
    border: none;
    color: #fff;
}

.btn-salir{
    margin-left: 50px;
    margin-top: 15px;
    height: 35px;
    width: 100px;
    font-size: 20px;
    border-radius: 8px;
    background-color: rgb(231, 38, 38);
    border: none;
    color: #fff;
}

.aceptar:hover{
    background-color: rgb(69, 143, 192);
}

.btn-salir:hover{
    background-color: rgb(177, 26, 26);
}