.inicio{
    width: 800px;
}

.preguntas{
    width: 800px;
}

.contacto{
    width: 800px;
}

header {
    background-color: #ffffff;
    padding: 5px;
}

nav{
    display: flex;
    justify-content: center;
}

nav ul{
    list-style-type: none;
}

nav li{
    display: inline;
    margin-right: 10px;
}

nav a {
    font-weight: bold;
    text-decoration: none;
    color:rgb(82, 167, 224);
}

a{
    font-size: 20px;
}

li{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
}

.btn{
    background-color: orange;
}

.btn a{
    color: #fff;
}

.btn:hover{
    background-color: rgb(122, 82, 6);
}

/*Para el contenedor de inicio*/
.inicio{
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
}

.inicio img{
    width: 400px;
    height: auto;
    border-radius: 8px;
}

.textoPrincipal{
    text-align: center;
    max-width: 60%;
}

/*Para preguntas frecuentes*/
.preguntas{
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
}

.preguntas img{
    width: 400px;
    height: auto;
    border-radius: 8px;
}

.textoPreguntas{
    text-align: center;
    max-width: 60%;
}

/*Para contactos*/
.contacto{
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
}

.contacto img{
    width: 400px;
    height: auto;
    border-radius: 8px;
}

.textoContacto{
    text-align: center;
    max-width: 60%;
}

/* Para el color de los titulos en la pantalla principal*/
.textoPrincipal h1{
    color: orange;
}

.textoPreguntas h1{
    color: aqua;
}

/*Para la fuente y color del primer div, el textoprincipal*/
.textoPrincipal p{
    color: rgb(3, 187, 187);
    font-size: 20px;
}

/*Apartado de contactanos*/
.contacto input{
    border-radius: 8px;
    width: 300px;
    height: 30px;
    font-size: 15px;

    border-color: #d8d2d2;
}

.contacto textarea{
    border-radius: 5px;
    width: 300px;
    height: 80px;
    font-size: 15px;
}

.contacto button{
    height: 30px;
    width: 300px;
    font-size: 20px;
    border-radius: 8px;
    background-color: rgb(82, 167, 224);
    border-color: #fff;
    color: #fff;
}

.contacto button :hover{
    background-color: aqua;
}

/*Para menú de preguntas frecuentes*/
.preguntas ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style: none;
}

.preguntas li {
    margin: 0;
    padding: 0; 
}

.preguntas a {
    font-size: 15px;
    display: block;
    padding: 5px;
    width: 380px;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    color: #fff;
}

.preguntas .titulo {
    color: purple;
}

.preguntas .cont {
    color: gray;
}

.preguntas a:hover {
    background-color: rgb(255, 255, 255);
}

.preguntas ul li ul {
    display: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.preguntas ul li a:hover + ul, 
.preguntas ul li ul:hover {
    display: block;
}

/* Para los telefonos*/
@media screen and (max-width: 480px) {

    /*Para el div de inicio*/
    .inicio{
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .inicio .textoPrincipal{
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        width: 290px;
    }

    .inicio .textoPrincipal h1{
        font-size: 30px;
        width: 290px;
    }

    .inicio .textoPrincipal p{
        font-size: 20px;
        width: 290px;
    }

    .inicio .textoPrincipal img{
        visibility: hidden;
    }

    /*Div para las preguntas*/
    .preguntas{
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        width: 290px;
    }

    .preguntas img{
        width: 1px;
        visibility: hidden;
    }

    .preguntas a {
        width: 200px;
    }

    /*Div para el contacto*/
    .contacto{
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        width: 290px;
    }

    .contacto img{
        width: 270px;
    }

    .contacto input{
        width: 270px;
        height: 30px;
        font-size: 15px;
    }
    
    .contacto textarea{
        width: 270px;
        height: 80px;
        font-size: 15px;
    }
    
    .contacto button{
        height: 30px;
        width: 270px;
        font-size: 20px;
        border-radius: 8px;
    }
}

