body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

body {
    background-image: url('../img/inicioSesion/fondo.png');
    background-size: cover;
    background-position: center;
}

.container{
    padding: 50px;
    text-align: center;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 10px;
    box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

input{
    margin: 10px;
    border-radius: 7px;
    width: 400px;
    height: 30px;
    font-size: 15px;
    border-color: #d8d2d2;
}

button{
    height: 35px;
    width: 400px;
    font-size: 20px;
    border-radius: 8px;
    background-color: rgb(82, 167, 224);
    border-color: #fff;
    color: #fff;
}

button:hover{
    background-color: rgb(57, 122, 165);
}

